<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stamps</key>
	<dict>
		<key>New item</key>
		<array>
			<string>1-01_</string>
			<string>1-02_</string>
			<string>1-03_</string>
			<string>1-04_</string>
			<string>1-05_</string>
			<string>1-06_</string>
			<string>1-07_</string>
			<string>1-08_</string>
			<string>1-09_</string>
			<string>1-10_</string>
			<string>1-11_</string>
			<string>1-12_</string>
			<string>1-13_</string>
			<string>1-14_</string>
			<string>1-15_</string>
			<string>1-16_</string>
			<string>1-17_</string>
			<string>1-18_</string>
			<string>2-01_</string>
			<string>2-02_</string>
			<string>2-03_</string>
			<string>2-04_</string>
			<string>2-05_</string>
			<string>2-06_</string>
			<string>3-01_</string>
			<string>3-02_</string>
			<string>3-03_</string>
			<string>3-04_</string>
			<string>3-05_</string>
			<string>3-06_</string>
			<string>3-07_</string>
			<string>3-08_</string>
			<string>3-09_</string>
			<string>3-10_</string>
			<string>3-11_</string>
			<string>3-12_</string>
			<string>3-13_</string>
			<string>3-14_</string>
			<string>3-15_</string>
			<string>3-16_</string>
			<string>3-17_</string>
			<string>3-18_</string>
			<string>3-19_</string>
			<string>3-20_</string>
			<string>3-21_</string>
			<string>3-22_</string>
			<string>7-01_</string>
			<string>7-02_</string>
			<string>7-03_</string>
			<string>7-04_</string>
			<string>7-05_</string>
			<string>7-06_</string>
			<string>7-07_</string>
			<string>7-08_</string>
			<string>7-09_</string>
			<string>7-10_</string>
			<string>7-11_</string>
			<string>7-12_</string>
			<string>7-13_</string>
			<string>7-14_</string>
			<string>7-15_</string>
			<string>7-16_</string>
			<string>7-17_</string>
			<string>7-18_</string>
			<string>7-19_</string>
			<string>7-20_</string>
			<string>7-21_</string>
			<string>7-22_</string>
			<string>7-23_</string>
			<string>7-24_</string>
			<string>7-25_</string>
			<string>7-26_</string>
			<string>7-27_</string>
			<string>7-28_</string>
			<string>7-29_</string>
			<string>7-30_</string>
			<string>7-31_</string>
			<string>7-32_</string>
			<string>7-33_</string>
			<string>7-34_</string>
			<string>7-35_</string>
			<string>7-36_</string>
			<string>7-37_</string>
			<string>7-38_</string>
			<string>7-39_</string>
			<string>7-40_</string>
			<string>7-41_</string>
			<string>7-42_</string>
			<string>7-43_</string>
			<string>7-44_</string>
			<string>7-45_</string>
		</array>
	</dict>
	<key>Frames</key>
	<dict>
		<key>New item</key>
		<array>
			<string>5-1_</string>
			<string>5-2_</string>
			<string>5-3_</string>
			<string>5-4_</string>
			<string>5-5_</string>
			<string>5-6_</string>
			<string>5-7_</string>
			<string>5-8_</string>
			<string>5-9_</string>
			<string>5-10_</string>
			<string>5-11_</string>
			<string>5-12_</string>
			<string>5-13_</string>
			<string>5-14_</string>
			<string>5-15_</string>
			<string>5-16_</string>
		</array>
	</dict>
	<key>Baloons</key>
	<dict>
		<key>New item</key>
		<array>
			<string>4-1_</string>
			<string>4-2_</string>
			<string>4-3_</string>
			<string>4-4_</string>
			<string>4-5_</string>
			<string>4-6_</string>
			<string>4-7_</string>
			<string>4-8_</string>
			<string>4-9_</string>
			<string>4-10_</string>
			<string>4-11_</string>
			<string>4-12_</string>
			<string>4-13_</string>
			<string>4-14_</string>
			<string>4-15_</string>
			<string></string>
		</array>
	</dict>
	<key>Pens</key>
	<dict>
		<key>New item</key>
		<array>
			<string>3-01_</string>
			<string>3-02_</string>
			<string>3-03_</string>
			<string>3-04_</string>
			<string>3-05_</string>
			<string>3-06_</string>
			<string>3-07_</string>
			<string>3-08_</string>
			<string>3-09_</string>
			<string>3-10_</string>
			<string>3-11_</string>
			<string>3-12_</string>
			<string>3-13_</string>
			<string>3-14_</string>
			<string>3-15_</string>
			<string>3-16_</string>
			<string>3-17_</string>
			<string>3-18_</string>
			<string>3-19_</string>
			<string>3-20_</string>
			<string>3-21_</string>
			<string>3-22_</string>
		</array>
	</dict>
</dict>
</plist>
