<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxZoomScale</key>
	<integer>1</integer>
	<key>enableDirectionSelect</key>
	<true/>
	<key>Use AdMob</key>
	<true/>
	<key>Publisher-ID</key>
	<string>a14cad5c6403d4f</string>
	<key>FileType</key>
	<array>
		<string>png</string>
		<string>jpg</string>
		<string>jpeg</string>
	</array>
	<key>AudioPath</key>
	<string>Beethoven_Symphonies_No_7.mp3</string>
	<key>AudioTitle</key>
	<string>Symphonies No.7</string>
	<key>AudioArtist</key>
	<string>Ludwig van Beethoven</string>
</dict>
</plist>
